.btn {
    background-color: $mainOrange;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: $mainWhite;
    text-decoration: none;
    font-weight: bold;
    padding: 0.9375rem 1.875rem;
    display: inline-block;
    border-radius: 18.75rem;
    text-transform: uppercase;
    
    &--margin-top {
        margin-top: 3.125rem;
    }
    
    &--white {
        background-color: $mainWhite;
        color: black;
    }
}