.large-hero {
    position: relative;
    &__image {
        display: block;
        max-width:100%;
        height:100%; 
    }
    &__text-content {
        position: absolute;
        top:20%;
        transform: translateY(-50%);
        left:0;
        width: 100%;
        text-align: center;
        @mixin atLarge {
            transform: translateY(-40%);
        }
/*        Change the padding-top in medium and large if needed*/
    }
    
}




