.page-section {
    padding: 4.5rem 0;
    &.large-hero {
        padding: 0 0;
    }
    &--orange {
        background-color: $mainOrange;
        color: $mainWhite;
    }
    &--black {
        background-color:$mainBlack;
    }
}

